.dashboard-view.full-width
    .card.bgc-blue-100(class="p+")
        p Welcome Papa!
    .boxes
        a.box.tc-white(ng-repeat="msg in messages",
            class="{{::vm.colors[$index % vm.colors.length]}}"
            )
            i.icon.icon--xl.icon--flat.mdi.mdi-cellphone-android
            p.name {{::msg}}
