.home-view
    .card.bgc-blue-800.text-center.tc-white(class="p+++")
        h2.title Baby Baby!
        h3.subtitle
            | Keeping Your Little Loved Ones Save.
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.dashboard", lx-ripple="white") Dashboard
